<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy87QysRYviXSwTTKCjmpM84DxAOc69zM</string>
	<key>GCM_SENDER_ID</key>
	<string>742774308338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a1care.customer.ios</string>
	<key>PROJECT_ID</key>
	<string>a1carewebsite</string>
	<key>STORAGE_BUCKET</key>
	<string>a1carewebsite.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742774308338:ios:9851205c6bcfd638d57f6b</string>
</dict>
</plist>